Api/LicenseManagement/LicenseManagement/Connected Services/LicenseManagementWS/LicenseManagementBearerWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.microsoft.com/slps/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LicenseManagementBearerWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WS2007FederationHttpBinding_ILicenseManagementWS_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <sp:RequestSecurityTokenTemplate>
                <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference />
              </wsp:Policy>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.microsoft.com/slps/" location="http://srv.testsoftwarepotential.com/SLMServerWS/LicenseManagementBearerWS.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WS2007FederationHttpBinding_ILicenseManagementWS" type="i0:ILicenseManagementWS">
    <wsp:PolicyReference URI="#WS2007FederationHttpBinding_ILicenseManagementWS_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductById">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetProductById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByFilter">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetProductsByFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IssueLicenseByTemplate">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/IssueLicenseByTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateLicense">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/CreateLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLicense">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/UpdateLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseByActivationKey">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicenseByActivationKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnableAutoRenewal">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/EnableAutoRenewal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSubscriptionLicenseTypeExceptionFault">
        <soap12:fault use="literal" name="NotSubscriptionLicenseTypeExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DisableAutoRenewal">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/DisableAutoRenewal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSubscriptionLicenseTypeExceptionFault">
        <soap12:fault use="literal" name="NotSubscriptionLicenseTypeExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeRenewal">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/AuthorizeRenewal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSubscriptionLicenseTypeExceptionFault">
        <soap12:fault use="literal" name="NotSubscriptionLicenseTypeExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetSubscriptionRenewUntil">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/SetSubscriptionRenewUntil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSubscriptionLicenseTypeExceptionFault">
        <soap12:fault use="literal" name="NotSubscriptionLicenseTypeExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseSummariesByLicenseIds">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicenseSummariesByLicenseIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseById">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicenseById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSkusByFilter">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetSkusByFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSkuById">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetSkuById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCountOfLicensesByFilter">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetCountOfLicensesByFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicensesByFilter">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicensesByFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetActivationsByFilter">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetActivationsByFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeactivateLicenseForDevice">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/DeactivateLicenseForDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReactivateLicenseForDevice">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/ReactivateLicenseForDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ReactivationExceptionFault">
        <soap12:fault use="literal" name="ReactivationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCredentialsExceptionFault">
        <soap12:fault use="literal" name="InvalidCredentialsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicenseManagementBearerWS">
    <wsdl:port name="WS2007FederationHttpBinding_ILicenseManagementWS" binding="tns:WS2007FederationHttpBinding_ILicenseManagementWS">
      <soap12:address location="https://srv.testsoftwarepotential.com/SLMServerWS/LicenseManagementBearerWS.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://srv.testsoftwarepotential.com/SLMServerWS/LicenseManagementBearerWS.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>