Api/ManualActivation/DemoApp/Service References/Activation/ActivationWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.microsoft.com/slps/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.microsoft.com/slps/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.microsoft.com/slps/Imports">
      <xsd:import schemaLocation="http://srv.softwarepotential.com/SLMServerWS/ActivationWS.svc?xsd=xsd0" namespace="http://www.microsoft.com/slps/" />
      <xsd:import schemaLocation="http://srv.softwarepotential.com/SLMServerWS/ActivationWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srv.softwarepotential.com/SLMServerWS/ActivationWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Licensing.LicenseIssue" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActivationWS_ImportTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportTypes" />
  </wsdl:message>
  <wsdl:message name="IActivationWS_ImportTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IActivationWS_ActivateLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateLicense" />
  </wsdl:message>
  <wsdl:message name="IActivationWS_ActivateLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateLicenseResponse" />
  </wsdl:message>
  <wsdl:portType name="IActivationWS">
    <wsdl:operation name="ImportTypes">
      <wsdl:input wsaw:Action="http://www.microsoft.com/slps/IActivationWS/ImportTypes" message="tns:IActivationWS_ImportTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.microsoft.com/slps/IActivationWS/ImportTypesResponse" message="tns:IActivationWS_ImportTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateLicense">
      <wsdl:input wsaw:Action="http://www.microsoft.com/slps/IActivationWS/ActivateLicense" message="tns:IActivationWS_ActivateLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://www.microsoft.com/slps/IActivationWS/ActivateLicenseResponse" message="tns:IActivationWS_ActivateLicense_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>