Sp.Samples.LicenseManagement.Store/Sp.Samples.LicenseManagement.Store/Service References/LicenseManagementWS/LicenseManagementWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.microsoft.com/slps/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LicenseManagementWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ILicenseManagementWS_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_ILicenseManagementWS_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.microsoft.com/slps/" location="https://srv.softwarepotential.com/SLMServerWS/LicenseManagementWS.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_ILicenseManagementWS" type="i0:ILicenseManagementWS">
    <wsp:PolicyReference URI="#WSHttpBinding_ILicenseManagementWS_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductById">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetProductById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByFilter">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetProductsByFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IssueLicenseByTemplate">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/IssueLicenseByTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateLicense">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/CreateLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLicense">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/UpdateLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseByActivationKey">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicenseByActivationKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseSummariesByLicenseIds">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicenseSummariesByLicenseIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseById">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicenseById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSkusByFilter">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetSkusByFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSkuById">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetSkuById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCountOfLicensesByFilter">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetCountOfLicensesByFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicensesByFilter">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicensesByFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetActivationsByFilter">
      <soap12:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetActivationsByFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap12:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap12:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap12:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ILicenseManagementWS" type="i0:ILicenseManagementWS">
    <wsp:PolicyReference URI="#BasicHttpBinding_ILicenseManagementWS_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByFilter">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetProductsByFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IssueLicenseByTemplate">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/IssueLicenseByTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateLicense">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/CreateLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLicense">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/UpdateLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseByActivationKey">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicenseByActivationKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseSummariesByLicenseIds">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicenseSummariesByLicenseIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseById">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicenseById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSkusByFilter">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetSkusByFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSkuById">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetSkuById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCountOfLicensesByFilter">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetCountOfLicensesByFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLicensesByFilter">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetLicensesByFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetActivationsByFilter">
      <soap:operation soapAction="http://www.microsoft.com/slps/ILicenseManagementWS/GetActivationsByFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APINotLicensedExceptionFault">
        <soap:fault use="literal" name="APINotLicensedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GeneralErrorExceptionFault">
        <soap:fault use="literal" name="GeneralErrorExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicenseManagementWS">
    <wsdl:port name="WSHttpBinding_ILicenseManagementWS" binding="tns:WSHttpBinding_ILicenseManagementWS">
      <soap12:address location="https://srv.softwarepotential.com/SLMServerWS/LicenseManagementWS.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://srv.softwarepotential.com/SLMServerWS/LicenseManagementWS.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ILicenseManagementWS" binding="tns:BasicHttpBinding_ILicenseManagementWS">
      <soap:address location="https://srv.softwarepotential.com/SLMServerWS/LicenseManagementWS.svc/SSL" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>